.reservations-container h2 {
  text-align: center;
  margin: 20px 0;
}

.reservations-container .table {
  margin: 20px auto;
  border-radius: 7px;
}

.table th {
  background-color: #f8f9fa;
}

.reservations-container p {
  margin: 5px;
  font-size: 22px;
}
