.motorcycle-list-container h2 {
  text-align: center;
  margin: 15px 0;
}

.motorcycle-list-container form {
  margin: 0 auto;
  margin-bottom: 10px;
}

.motorcycle-list-container form button {
  margin-bottom: 10px;
}
