.navigation-panel {
  width: 100%;
  background-color: #0000000a;
  color: #363636;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 2px solid rgba(237, 224, 224, 0.888);
}

@media screen and (min-width: 600px) {
  .navigation-panel {
    width: 30%;
  }
}

@media screen and (min-width: 890px) {
  .navigation-panel {
    width: 20%;
  }
}

.navigation-panel h5 {
  text-align: center;
  color: rgb(12, 72, 238);
  font-size: 28px;
}

.navigation-panel nav {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.navigation-panel ul {
  list-style: none;
  text-align: center;
}

.navigation-panel li {
  margin-bottom: 12px;
}

.navigation-panel a {
  text-decoration: none;
  padding: 7px 9px;
  border-radius: 7px;
}

.navigation-panel ul li a.active {
  background-color: rgb(12, 72, 238);
  color: #fff;
}

.navigation-panel .social-icons {
  display: flex;
  justify-content: center;
  color: #828282;
  font-size: 30px;
}

.social-icons .github {
  margin: 0 12px;
}
