.app {
  max-width: 100%;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 600px) {
  #mainContainer {
    flex-direction: row;
  }
  
}

.side-container {
  padding: 2em 1em;
  background-color: #f9fcfd;
}

button {
  background-color: rgb(12, 72, 238);
  color: #fff;
  border-radius: 5px;
  min-width: 5em;
}

@media screen and (min-width: 600px) {
  .side-container {
    padding: 3em;
    width: 70%;
  }
}

@media screen and (min-width: 890px) {
  .side-container {
    width: 80%;
  }
}


.hamburguerContainer {
  position: fixed;
  top: 0;
  width: 20%;
  cursor: pointer;
  padding: 1rem;
  font-size: 20px;
  z-index: 6000;
  display: block;
}

@media screen and (min-width: 768px) {
  .hamburguerContainer {
    display: none;
  }

  .infoContainer {
    margin-top: 2rem;
    font-size: 30px;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}
