.delete-container h2 {
  text-align: center;
  margin: 15px 0;
}

.delete-div {
  margin: 0 15px;
}

.delete-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(126, 157, 245);
  padding: 12px;
  border-radius: 7px;
  margin: 12px 0;
  background-color: #fffb;
  margin-bottom: 10px;
}

.delete-card:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(190, 190, 190, 0.1);
}

.delete-card p {
  font-size: 20px;
  text-align: center;
}

.delete-button {
  color: #fff;
  font-size: 20px;
  background-color: #d11a2a;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #a50b18;
}
